---
import Container from "../layouts/container.astro";
---

<div class="characters-section">
    <Container class="characters-area" data-characters-area>
        Loading...
    </Container>
</div>
<style>
    .characters-section {
        min-height: 636px;
        background-image: url("/assets/characters-area-background.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #03b0c8;
        display: flex;
        flex-direction: column;
    }

    .characters-area {
        padding-block: 16px;
    }
</style>

<script>
    const URL = "https://rickandmortyapi.com/api";

    try {
        const response = await (await fetch(URL + "/character")).json();
        const characters = response.results;

        let currentCharacterIndex = 0;

        const elementPreview = document.createElement("div");
        elementPreview.innerText = JSON.stringify(
            characters[currentCharacterIndex],
        );

        const nextBtn = document.createElement("button");
        nextBtn.setAttribute("type", "button");
        nextBtn.innerText = "Next ->";
        nextBtn.addEventListener("click", function (event) {
            currentCharacterIndex = (currentCharacterIndex + 1) % 20; // characters fetched
            elementPreview.innerText = JSON.stringify(
                characters[currentCharacterIndex],
            );
        });

        const areaElem = document.querySelector("[data-characters-area]");

        if (!areaElem) throw new Error("areaElem is undefined");

        areaElem.innerHTML = "";
        areaElem.append(elementPreview);
        areaElem.append(nextBtn);
    } catch (err) {
        console.error(err);
    }
</script>
