---
import HeroBackground from "../../assets/pickle-rick.svg";
import Container from "../layouts/container.astro";
---

<Container
    class="hero"
    style={`--bg-image: url('${HeroBackground.src}, --paddingX: 48px')`}
>
    <h1>Is this the first part of some magic trick?</h1>
    <q
        class="pickle-rick-quote"
        cite="https://www.imdb.com/title/tt5218268/quotes/#:~:text=Uh%2C%20here%27s%20something%20that%27s%20never%20happened%20before...%20I%27M%20A%20PICKLE!"
        >Uh, here's something that's never happened before: I'm a pickle!</q
    >
</Container>

<style>
    .hero {
        height: 320px;
        background-image: var(--bg-image);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        text-wrap-style: pretty;
        margin-top: 8px;
    }

    h1,
    .pickle-rick-quote {
        display: block;
        text-align: center;
    }

    h1 {
        margin-block: 0;
    }
</style>
