---
const { class: className, ...rest } = Astro.props;
---

<div class={"container " + (className || "")} {...rest}>
    <slot />
</div>
<style>
    .container {
        max-width: 1056px;
        padding-inline: var(--paddingX, 16px);
        display: flow-root;
        margin: 0 auto;
    }
</style>
