<div class="header-layout">
    <slot />
</div>
<style>
    .header-layout {
        max-width: 1252px;
        padding-left: 16px;
        padding-right: 16px;
        display: flow-root;
        margin: 0 auto;
    }
</style>
