---
const { paddingX, class: className, ...rest } = Astro.props;
---

<div class={"layout " + (className || "")} {...rest}>
    <slot />
</div>
<style define:vars={{ paddingX }}>
    .layout {
        max-width: 1056px;
        padding-inline: var(--paddingX, 16px);
        display: flow-root;
        margin: 0 auto;
    }
</style>
