<div class="main-layout">
    <slot />
</div>
<style>
    .main-layout {
        max-width: 1056px;
        padding-left: 16px;
        padding-right: 16px;
        display: flow-root;
        margin: 0 auto;
    }
</style>
